
 <h5 class = "pull-right"><%= current_user.full_name %> - <%= current_user.emails.join(',')  %></h5>


  
<h2>Sections</h2>

<% @sections.group_by(&:term).each do |term, sections| %>

  <h4><%= term %></h4>

  <div class="list-group">
    <%= render sections %>
  </div>
<% end %>
